<!-- section 1 -->
<div class="comp">
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active position-relative">
        <img src="https://wallpapercave.com/wp/wp8423197.jpg" class="d-block w-100"
          style="height: 400px; object-fit: cover;" alt="...">
        <div class="quote position-absolute top-50 end-0 translate-middle-y"
          style="color: white; text-shadow: 1px 1px 2px black; padding-right: 120px; font-family : 'Montaga', serif;font-size:x-large;">
          Your health, our priority—care, expertise,<br>
          and comfort at your fingertips. <br>
          Trust us to be there, <span style="text-decoration: underline; font-weight:bold;">Anytime, Anywhere.</span>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://bsmedia.business-standard.com/_media/bs/img/article/2024-05/27/full/1716791846-1251.jpg"
          class="d-block w-100" style="height: 400px; object-fit: cover;" alt="...">
      </div>
      <div class="carousel-item">
        <img
          src="https://image.cnbcfm.com/api/v1/image/102181475-Premium_Doctor_on_smartphone.jpg?v=1532564393&w=1858&h=1045&vtcrop=y"
          class="d-block w-100" style="height: 400px; object-fit: cover;" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <hr class="dot-hr">
  <!-- section2 -->

  <div class="container col-xxl-8 px-4 py-2">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://d2jx2rerrg6sh3.cloudfront.net/image-handler/picture/2021/2/GrjH4AAAAASUVORK5CYII%3D.png"
          class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6" style="font-family: 'Montaga', serif;">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Connect, Consult, and Care!</h1>
        <p class="lead">From home or on the go, we’re here for what you need to know. Connect with ease, consult with
          trust, and find the care that’s always just!</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a aria-current="page" routerLink="register" routerLinkActive="router-link-active"><button type="button"
              class="btn btn-primary btn-lg px-4 me-md-2"
              style="background-color:#82bdf5;font-family: 'Montaga', serif; border: none; border-radius:40px; font-weight : bold;">Get
              Started »</button></a>
        </div>
      </div>
    </div>
  </div>

  <hr class="dotted-hr">

  <!-- section 3 -->

  <div class="container-fluid marketing" style="font-family: 'Montaga', serif;">
    <div class="row">
      <div class="col-lg-3">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
          role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
          <image href="https://cdn.pixabay.com/photo/2023/10/05/07/38/appointment-8295104_1280.png" width="140"
            height="140" x="0" y="0" />
        </svg>
        <h2 class="fw-normal">Appointments</h2>
        <p class="text-justify">Schedule your visit with just a few clicks, making healthcare access easier than ever.
          Choose a time that works for you, and let us handle the rest effortlessly!</p>
        <p><a class="btn"
            style="background-color:#82bdf5;font-family: 'Montaga', serif; border: none; border-radius:40px; color:white; font-weight:bold;"
            href="#">View details »</a></p>
      </div>
      <div class="col-lg-3">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
          role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
          <image
            href="https://img.freepik.com/premium-vector/cartoon-doctor-with-stethoscope-glasses-vector-illustration_1142-80272.jpg"
            width="150" height="150" x="0" y="0" />
        </svg>
        <h2 class="fw-normal">Doctors</h2>
        <p class="text-justify">Our experienced team of medical professionals is dedicated to your well-being. From
          consultations to specialized care, we’re here to support you every step of the way.</p>
        <p><a class="btn"
            style="background-color:#82bdf5;font-family: 'Montaga', serif; border: none; border-radius:40px;color:white; font-weight:bold;"
            href="#">View details »</a></p>
      </div>
      <div class="col-lg-3">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
          role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
          <image
            href="https://st2.depositphotos.com/2001403/5308/v/450/depositphotos_53088729-Concept-for-health-care-and-medical-help.jpg"
            width="150" height="150" x="0" y="0" />
        </svg>
        <h2 class="fw-normal">Treatments</h2>
        <p class="text-justify">Discover a wide range of treatments tailored to your needs, ensuring personalized care.
          Whether it's preventive or therapeutic, we prioritize your health and comfort.</p>
        <p><a class="btn"
            style="background-color:#82bdf5;font-family: 'Montaga', serif; border: none; border-radius:40px;color:white; font-weight:bold;"
            href="#">View details »</a></p>
      </div>
      <div class="col-lg-3">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
          role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
          <image href="https://cdn-icons-png.flaticon.com/512/284/284454.png" width="140" height="140" x="0" y="0" />
        </svg>
        <h2 class="fw-normal">Hospitals</h2>
        <p class="text-justify">Find trusted hospitals close to you, equipped with state-of-the-art facilities and
          expert
          care. Your health is our priority, and we’re here to connect you with the best!</p>
        <p><a class="btn"
            style="background-color:#82bdf5;font-family: 'Montaga', serif; border: none; border-radius:40px;color:white; font-weight:bold;"
            href="#">View details »</a></p>
      </div>
    </div>
  </div>

  <hr class="dot-hr">

  <div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Blogs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Feedback</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Contact Us</a></li>
      </ul>
      <p class="text-center text-muted">© 2024</p>
    </footer>
  </div>


</div>